@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div >
    <h2>Welcome to my Logistic App</h2>
    <p>
        You Can use this app to book consignment using Consignment Booking.
    </p>
    <p>
        You Can Track your consignment using consingment tracking function with the help of booking id.
    </p>
    <p>
        You can get the information about the collection offices and contact details in contact Details section.
    </p>
        
    
   
</div>

